
 .tulisan{
    color: blue;
    font-family: 'Roboto', sans-serif;
 }  
    
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 3%;
    padding-right: 8%;
    box-sizing: border-box;
}
   

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    height: 18%;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
    cursor: pointer;
}
nav{
    flex: 3;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}
nav ul, li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.row{
    display: flex;
    height: 70%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    height: 5%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 19px;
    line-height: 15px;
}
h3{
    color: #fff;
    font-size: 40px;
    align-items: center;
}


.image{
    padding-right: 50px;
}
.image img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-items: center;
    
}
